<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Eventos espaciales
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreateEventModal()">
        <ion-icon name="add-circle-outline"></ion-icon>
        Crear evento
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let event of events" class="event-card">
    <ion-card>
      <ion-row>
        <ion-col size="4">
          <ion-img 
            *ngIf="event.photo" 
            [src]="'data:' + event.photoContentType + ';base64,' + event.photo" 
            alt="Event Image" 
            class="event-image">
          </ion-img>
        </ion-col>
        <ion-col size="8" style="position: relative;">
          <!-- Botón Eliminar -->
          <ion-button 
            color="danger" 
            fill="solid" 
            size="small" 
            (click)="deleteEvent(event)"
            style="position: absolute; top: 0.5rem; right: 0.5rem; z-index: 10;">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Eliminar
          </ion-button>
          <!-- Botón Editar -->
           <ion-button 
              color="primary" 
              fill="solid" 
              size="small" 
              (click)="openEditOptions(event)"
              style="position: absolute; top: 0.5rem; right: 7.5rem; z-index: 10;">
              <ion-icon name="create-outline" slot="start"></ion-icon>
              Editar
            </ion-button>
          <ion-card-header>
            <ion-card-title class="event-title">{{ event.name }}</ion-card-title>
            <ion-card-subtitle class="event-date">{{ event.date | date: 'longDate' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p class="event-description">{{ event.description }}</p>
            <p class="event-type">{{ event.type }}</p>
            <div *ngIf="event.mission">
              <ion-card-subtitle class="mission-title">Misión</ion-card-subtitle>
              <p class="mission-name"><strong>Nombre:</strong> {{ event.mission.name }}</p>
              <p class="mission-description"><strong>Descripción:</strong> {{ event.mission.description }}</p>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
