.event-card {
  margin: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.event-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.event-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #3880ff;
  text-align: center;
}

.event-date {
  font-size: 1rem;
  color: #ffffff;
}

.event-description, .event-type {
  font-size: 1rem;
  margin: 8px 0;
  color: #ffffff;
}

.mission-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3880ff;
  text-align: center;
}

.mission-name,
.mission-description {
  font-size: 1rem;
  margin: 4px 0;
  color: #ffffff;
}